[Unit]
Description=OpenFrame Update

[Service]
ExecStart=/usr/local/sbin/of-update systemd
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
