[Unit]
Description=OpenFrame MAC address identification
Before=network-pre.target
Wants=network-pre.target

[Service]
ExecStart=/usr/local/sbin/of-netplan
StandardOutput=journal

[Install]
WantedBy=multi-user.target
