[Unit]
Description=OpenFrame root filesystem expansion
DefaultDependencies=no
ConditionPathExists=/etc/firstboot
After=systemd-remount-fs.service
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/of-expand
StandardOutput=journal+console

[Install]
WantedBy=sysinit.target
