[Unit]
Description=OpenFrame encryption key check

[Service]
ExecStart=/usr/local/sbin/of-keycheck
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
