[Unit]
Description=OpenFrame MAC address identification
Before=network-pre.target
Wants=network-pre.target

[Service]
ExecStart=/usr/sbin/openframe-mac
StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
